{% extends 'account_layout.html' %}
{% load i18n %}
{% load staticfiles %}

{% block account_content %}
<h1>{% trans 'Subscription' %}</h1>

<table class="admin-list">
    <thead>
        <tr>
            <td>{% trans 'Date' %}</td>
            <td>{% trans 'Value' %}</td>
            <td>{% trans 'Status' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.created }}</td>
                <td>{{ payment.time }}
                    ({{ payment.get_amount_display }})
                </td>
                <td>{{ payment.get_status_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
